torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
tqdm==4.66.4
transformers==4.45.2
evaluate
safetensors==0.4.4
sentencepiece==0.2.0
numpy>=1.26.4
accelerate==0.33.0
triton==2.3.1
texttable==1.7.0
toml==0.10.2
protobuf==5.27.3
datasets==2.20.0
fast_hadamard_transform==1.0.4.post1
flash_attn==2.6.1
glog==0.3.1
huggingface_hub==0.24.0
lm_eval==0.3.0
matplotlib==3.9.1
primefac==2.0.12
scipy==1.13.1
setuptools==69.5.1
